<form [formGroup]="form" (submit)="onSubmit()">
  <label> Username :
    <input [class.invalid]="isInvalid('titre')" type="text" formControlName="titre">
    @if(isInvalid('titre')) {
      <p>Username is required</p>
    }
  </label>
  <label> Email :
    <input [class.invalid]="isInvalid('email')" type="email" formControlName="email">
    @if(hasError('email','required')) {
      <p>Email is required</p>
    } @else if (hasError('email','email')) {
      <p>Wrong format</p>
    }
  </label>
  <label> Password :
    <input [class.invalid]="isInvalid('password')" type="password" formControlName="password">
    @if(hasError("password","required")) {
      <p>Password is required</p>
    } @else if (hasError("password","minlength")) {
      <p>Password too short</p>
    }
  </label>
  <input [disabled]="form.invalid" type="submit" value="Enregistrer">
</form>
{{jsonValue}}

